@import '@folio/stripes-components/lib/variables.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: var(--gutter-static) var(--gutter-static) 0;
  min-height: var(--control-min-size-touch);
  
  z-index: 1;
}

.buttonContainer {
  width: 33vw;
}
