@import '@folio/stripes-components/lib/variables.css';
 
.tableContainer { 
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  role: table;
  border-spacing: 0;
  width: 100%;
  min-width: max-content;
}

.oddRow {
  background-color: var(--color-fill-table-row-even);
}

.evenRow {
  
  background-color: var(--color-fill-table-row-odd);
}

.td {
  margin: 0;
  /*
    Here 5px was a little too small, and 10 too large,
    so we went for eight, but if gutter size changes
    this will adapt in the same ratio
  */
  padding: calc(var(--gutter-static-one-third) * (8/5)) var(--gutter-static-two-thirds);
  border-right: 1px solid var(--color-border-p2);
  /* hopefully unnecessary, but allows data to break if stupidly long*/
  word-wrap: break-word;

  &:last-child {
    border-right: 0;
  }
}

  .headerCell {
    margin: 0;
    padding: var(--gutter-static-one-third) var(--gutter-static-two-thirds);
    font-weight: var(--text-weight-bold);
    font-size: var(--font-size-medium);
    word-wrap: break-word;
  }
