 @import '@folio/stripes-components/lib/variables';

 /* Empty Message */
 .errorPage {
   padding: 15px;
   color: var(--color-text-p2);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: var(--color-fill);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: var(--font-size-large);
 }
 
 .errorMessageLabel {
   margin: 0 4px;
 }

 .errorComponent {
  color: var(--color-text-p2);
  background: var(--error-fill);
  min-height: 250px;
  margin-bottom: var(--gutter-static-two-thirds);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 }