@import '@folio/stripes-components/lib/variables.css';

.innerRow {
  flex-grow: 1;
}

.resultLine {
  width: 50%;
  @media (--small) { width: 100%; }
}

.warningBanner {
  margin-bottom: var(--gutter-static-two-thirds);
}