@import '@folio/stripes-components/lib/variables';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
  width: 100%;
  background-color: var(--bg);
}

.timestamp {
  height: max-content;
  padding: var(--gutter-static-one-third) 0;
  align-self: center;
}

.leftContent {
  display: flex;
  color: var(--color-text-p2);
}

.rightContent {
  padding: var(--gutter-static-one-third) 0;
}
