@import '@folio/stripes-components/lib/variables';

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--bg);
  border: 1px solid var(--color-border-p2);
  margin-bottom: var(--gutter);
  overflow: hidden;
  border-radius: var(--radius);
  margin-bottom: 0;
  padding: var(--gutter-static);
  padding-bottom: 0;
  box-shadow: var(--shadow);

  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    background-color: var(--primary);
    top: -5px;
    opacity: 0;
    transition: height 200ms, top 200ms, opacity 500ms;
    pointer-events: none;
  }

  &:focus-within::after {
    opacity: 1;
    height: 5px;
    top: 0;
  }
}

.widgetContainer {
  /* min-width: 300px;
  width: 50%;
  padding-bottom: 50%;
  padding: var(--gutter-static-two-thirds);
  @media (--small) { width: 100%; }
  @media (--x-large) { width: 33%; }
  @media (min-width: 1921px) { width: 25%; } */
  height: 100%;
  width: 100%;
}

.body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Card Styles */
.default + .default {
  border-top: 0;
}

.negative {
  background-color: var(--bg-hover);
}

.footerContainer {
  display: flex;
  width: 100%;
  padding-right: var(--gutter-static-two-thirds);
}

/* Come up with better grabbed css later */
.grabbed {
  opacity: 75%;
  cursor: grabbing;
  z-index: 10000;
  position: relative;
}