@import '@folio/stripes-components/lib/variables.css';

/**
 * Pane Content
 */

.dashboardContent {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow: auto;
  outline: 0;
  padding: var(--gutter-static);
}

.widgetsContainer {
  display: flex;
  flex-wrap: wrap;
}

.widget {
  min-width: 300px;
  width: 50%;
  padding-bottom: 50%;
  padding: var(--gutter-static-two-thirds);
  @media (--small) { width: 100%; }
  @media (--x-large) { width: 33%; }
  @media (min-width: 1921px) { width: 25%; }
}
