@import '@folio/stripes-components/lib/variables.css';

.rowMargin {
  margin-bottom: var(--gutter-static-two-thirds)
}

.selectedOption {
  color: var(--primary);
  font-weight: bold;
}

.option {
  font-weight: normal;
}