@import '@folio/stripes-components/lib/variables.css';

.countBadge {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--gutter-static-one-third);
}

.linkText {
  font-weight: var(--text-weight-bold);
}

.spinner {
  position: absolute;
  margin-left: 50%;
  margin-right: -50%;
}